.fix-select-option
{
    color: #fff !important;
}

.fix-select-option > option{
    color: #000 !important;
}

.fix-select
{
   color: #000 !important; 
}

.fix-dashboard-menu a.nav-link{
    padding: 5px 10px !important;
}

.fix-dashboard-menu h5.card-title{
    color: #fff !important;
}

.nav-tabs .nav-link:hover {
   background-color: #651473; 
   border-color: #651473;
   color: #fff;
}

.fix-upload-a tbody tr:hover td > a {
    color: #8b92a9 !important;
}

.dark-edition .sidebar .sidebar-background:after, .dark-edition .sidebar {
    background-color: #913f9e !important;
}


.dark-edition .sidebar[data-color="purple"] li.active>a {
    background: #571D62 !important;
}

.dark-edition .sidebar .logo .simple-text {
    color: #fff;
}

.sidebar .logo {
    padding: 8px 0px !important;
}

.dark-edition .text-muted, .dark-edition .bmd-help {
    color: #fff !important;
}

.sidebar .sidebar-wrapper {
    padding-bottom: 0px !important;
}

.dark-edition .btn.btn-link, .dark-edition .btn.btn-default.btn-link {
    color: #fff;
}

.alert-danger, .alert-info, .alert-success, .alert-warning, .alert.alert-rose .alert-link, .alert.alert-rose a {
    color: #fff;
    background: linear-gradient(60deg, #029eb1, #25b1c3);
    padding: 5px 10px;
}