
*::selection {
    background-color: Transparent !important;    
}

#back-loader {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    background-color: rgba(26, 32, 53, 0.8);
    z-index: 9999;
    overflow: hidden;
    display: block;
    vertical-align: middle !important;
}

.load {
    vertical-align: top;
    width: 100%;
    text-align: center;
    display: block;
    vertical-align: middle !important;
    height: 100% !important;
}

.load img {
	height: 50px;
	weight: 50px ;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
}