/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2018, 23:20:05
    Author     : Windows 7
*/
body{
    background:#f1f1f1;
    font-family: 'Montserrat', sans-serif !important;
}
.img-profile{
    border-radius:50% !important;
}
.parallax { 
    /* The image used */
    background-image: url("../img/parallax.jpg");

    /* Set a specific height */
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-icons{
    background-image: url("../img/parallax-icon.jpg");
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.parallax-icons h1{
    color:#fff;
    line-height:200px;
}
.about, .plans{
    padding:50px 0px;
}
.register{
    padding:50px 0px;
    background:#4E4D4C;
    color:#fff;
}
.footer{
    padding:50px 0px;
    color:#fff;
    background:#4E4D4C;
}
.space-footer{
    width:100%;
    height:40px;
}
.user-profile{
    padding:50px 0px;
}
.img-circle{
    border-radius:50% !important;
}
.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
.parallax .caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 27px;
    letter-spacing: 12px;
    border:none !important;
}
.parallax .caption button{
    border:1px solid #fff;
    background: transparent;
    color:#fff;
    transition: .2s;
    outline:none;
    padding:5px;
}
.parallax .caption button:hover{
    background:#fff;
    color:#000;
}
a:hover{
    text-decoration:none !important;
}
.blue-sky {
    background-color:#4E4D4C; 
}
.title-register{
    padding-top:50px;
}
.open-register h1{
    padding-top:100px;
    font-size:90px;
}

/* background gorseli */
.landing {
    padding-top:90px;
    padding-bottom:90px;
    background:url('https://news.nationalgeographic.com/content/dam/news/2018/01/29/cats-right-paw/01-Cats.adapt.1900.1.jpg');
    color:white;
    font-weight:700;
}

.landingimg {
    width:300px;
}
/* en alt kisim */
.three {
    background-color:pink;
    padding-top:50px;
    padding-bottom:50px;
}

.icon {
    width:150px;
    
}
.user-register{
    height:500px;
}
.counter-register{
    height:500px;
}
#counter-register{
}
.user{
    display:none;
}
#counter-register, #user-register{
    width:100%;
    display:none;
}
#message{
    display:none;
}
.navbar{
    z-index:1000;
}
footer {
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    display: inline-block;
    height: 50px;
}
footer .copyright {
    width: 50%;
    float: left;
   
}
footer .copyright p {
    background: #F0EDE9;
    padding-left: 10%;
    color: #000;
    font-size: .7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
     line-height: 50px;
}
footer .social {
    width: 50%;
    float: right;
}
footer .social a {
    float: left;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: 700;
    transition: all .3s;
}
footer .social a:hover {
    color: #fff!important;
    background-color: #222;
}
.support {
    background-color: #F39A2F;
    font-size: .8em;
    width: 40%;
}
.face {
    background-color: #3d5b94;
}
.tweet {
    background-color: #3dacdd;
    font-size: 1.2em;
    width: 20%;
}
.linked {
    background-color: #1e83ae;
}
.face, .linked {
    font-size: 1.2em;
    width: 20%;
}

@media (max-width: 600px){
    footer .copyright {
        width: 100%;
    }
    footer .social {
        width: 100%;
    }
}

